<h1 id="about_head">MANIA Opinia V1.0</h1>
<h6 id="about_tagline">A venture of Mania Technologies</h6>
<div class="my-content">
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOpinia is one of the ventures of Mania Technologies which is a dream project of its founders. There is only one aim to Mania and that is to stand on the top of the world of Computing.</p>
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOpinia is an idea developed in the mind of a group of students who was supposed to do their Main-Project necessary for the completion of the final year of Bachelor's degree in computer science and engineering. The group decided to use a new programming language which is perfect for web development. Thus they ended up with Ruby on Rails or simply Rails. Then with the previous experience of building a social site for mini-project they developed Opinia. </p>
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThey decided to use an idea to empower citizens in running a country as a base to build this project. Basically Opinia is a community engagement platform which can be customized to help the citizens in running their own country.</p>
  <p id="about_thanks">Thanks for visiting Opinia.</p>
</div>
