/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap/theme';

h1  {
  text-align: center;
}

.well {
  h2  {
    margin-top: 0;
  }
}

.progress { 
  background-image: linear-gradient(to bottom, #bbb 0%, #ccc 100%)
}

#qafield  {
  width: 100%;
}

.align-right  {
  float: right;
}

.align-left {
  float: left;
}
